<header class="bg-ns-blue text-white px-4 py-4 shadow-lg sticky top-0 z-30">
    <div class="container mx-auto">
        <div class="flex justify-between leading-7">
            <a class="tracking-wide inline-flex items-center space-x-2" href="/">
                <div class="image-ns-logo"></div>
                <div class="image-ns-text-logo"></div>
                <span class="border-l border-white inline-block h-5"></span>
                <span>Marketplace</span>
            </a>

            <div class="flex space-x-6">
                <a href="/authors">Authors</a>
                <a href="https://nativescript.org">NativeScript.org</a>
            </div>
        </div>
    </div>
</header>
