<div class="flex">
    <div class="w-12 h-12 plugin-image flex-shrink-0"></div>
    <div class="ml-4">
        <a href="/plugins/{{ plugin.name }}"
           class="text-xl font-bold text-gray-900">{{ plugin.name }}</a>
        <div class="text-sm text-gray-700">
            {% if plugin.author %}
                <a href="/author/{{ plugin.author.username }}" class="hover:text-blue-800">by {{ plugin.author.name }}</a>
                <span> | </span>
            {% endif %}
            <span>v{{ plugin.version }}</span>
        </div>
        <div class="text-base text-gray-800 mt-2">
            {{ plugin.description | markdown | strip }}
        </div>
        <div class="flex space-x-2 mt-2 opacity-25" title="Not yet implemented.">
            <div class="w-6 h-6 badge-android"></div>
            <div class="w-6 h-6 badge-ios"></div>
            <div class="w-6 h-6 badge-webpack"></div>
            <div class="w-6 h-6 badge-demos"></div>
            <div class="w-6 h-6 badge-license"></div>
            <div class="w-6 h-6 badge-version"></div>
            <div class="w-6 h-6 badge-typings"></div>
            <div class="w-6 h-6 badge-angular"></div>
            <div class="w-6 h-6 badge-vue"></div>
            <div class="w-6 h-6 badge-ci"></div>
            <div class="w-6 h-6 badge-popular"></div>
        </div>
        {# {{ plugin | json }} #}
    </div>
</div>
