---
pagination:
    data: plugins
    size: 100
permalink: "{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber + 1 }}{% endif %}/index.html"
---

<div class="bg-ns-blue-light py-4">
    <div class="container mx-auto">
        <ul class="inline-flex items-center space-x-6">
            <li>
                <span class="text-blue-200 text-lg font-bold cursor-default">Plugins</span>
            </li>
            <li>
                <a href="#" class="text-white text-lg font-bold">Samples</a>
            </li>
            <li>
                <a href="#" class="text-white text-lg font-bold">Templates</a>
            </li>
        </ul>
    </div>
</div>

<div x-data="{ allVisible: true }">
    <div @all-visible-change.window="allVisible = $event.detail">
        {% include "layouts/partials/search.njk" %}
    </div>

    <article class="container mx-auto" x-show="allVisible">

        <h2 class="text-3xl text-gray-600 mt-10">All plugins ({{ plugins.length }})</h2>

        <ul class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">
            {% for plugin in pagination.items %}
                <li>
                    {% include "layouts/partials/plugin-box.njk" %}
                </li>
            {% endfor %}
        </ul>

        <div class="text-center text-base">
            <ol class="inline-flex mt-24">
                <li>
                    {% if pagination.href.previous %}
                        <a class="inline-flex bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l"
                           href="{{ pagination.href.previous }}">
                            Prev
                        </a>
                    {% else %}
                        <div class="inline-flex bg-gray-200 text-gray-600 font-bold py-2 px-4 rounded-l cursor-default">
                            Prev
                        </div>
                    {% endif %}
                </li>
                {%- for pageEntry in pagination.pages %}
                    <li>
                        <a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}
                           class="inline-flex font-bold py-2 px-4 {% if page.url == pagination.hrefs[ loop.index0 ] %}bg-blue-500 text-white{% else %}bg-gray-300 hover:bg-gray-400 text-gray-800{% endif %}"
                        >
                            {{ loop.index }}
                        </a>
                    </li>
                {%- endfor %}
                <li>
                    {% if pagination.href.next %}
                        <a class="inline-flex bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r"
                           href="{{ pagination.href.next }}">
                            Next
                        </a>
                    {% else %}
                        <div class="inline-flex bg-gray-200 text-gray-600 font-bold py-2 px-4 rounded-r cursor-default">
                            Next
                        </div>
                    {% endif %}
                </li>
            </ol>
        </div>
    </article>
</div>
