---
pagination:
    data: plugins
    size: 100
permalink: "{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber + 1 }}{% endif %}/index.html"
---

<div class="bg-ns-blue-light py-4">
    <div class="container mx-auto">
        <ul class="inline-flex items-center space-x-6">
            <li>
                <span class="text-blue-200 text-lg font-bold cursor-default">Plugins</span>
            </li>
            <li>
                <a href="#" class="text-white text-lg font-bold">Samples</a>
            </li>
            <li>
                <a href="#" class="text-white text-lg font-bold">Templates</a>
            </li>
        </ul>
    </div>
</div>

<article class="container mx-auto">
    {% include "layouts/partials/search.njk" %}

    <h2 class="text-3xl text-gray-600 mt-10">All plugins ({{ plugins.length }})</h2>

    <ul class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">
        {% for plugin in pagination.items %}
            <li>
                {% include "layouts/partials/plugin-box.njk" %}
            </li>
        {% endfor %}
    </ul>

    {% include "layouts/partials/pagination.njk" %}
</article>
