---
pagination:
    data: pluginsSorted
    size: 100
permalink: "{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber + 1 }}{% endif %}/index.html"
---

<div class="bg-ns-blue-light py-4">
    <div class="container mx-auto">
        <ul class="flex items-center space-x-6">
            <li>
                <span class="text-blue-200 text-lg font-bold cursor-default">Plugins</span>
            </li>
            <li>
                <a href="https://nativescript.org/samples/"
                   target="_blank"
                   class="text-white text-lg font-bold">
                   Samples
               </a>
            </li>
            <li>
                <a href="https://docs.nativescript.org/introduction.html#blank"
                   target="_blank"
                   class="text-white text-lg font-bold">
                   Templates
                </a>
            </li>
            <li class="text-right flex-1">
                <span class="text-blue-200 text-xs font-bold cursor-default">
                    Some functionality has been temporarily disabled/redirected.
                </span>
            </li>
        </ul>
    </div>
</div>

<article class="container mx-auto">
    {% include "layouts/partials/search.njk" %}

    <h2 class="text-3xl text-gray-600 mt-10">All plugins ({{ plugins.length }})</h2>

    <ul class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">
        {% for plugin in pagination.items %}
            <li>
                {% include "layouts/partials/plugin-box.njk" %}
            </li>
        {% endfor %}
    </ul>

    {% include "layouts/partials/pagination.njk" %}
</article>
