---
pagination:
    data: plugins
    size: 1
    alias: plugin
permalink: /plugins/{{ plugin.name }}/index.html
renderData:
    title: '{{ plugin.name }}'
---

<article>
    <div class="bg-blue-50">
        <div class="container mx-auto">
            <div class="grid grid-cols-3 py-16">
                <div class="flex col-span-2">
                    <div class="w-16 h-16 plugin-image flex-shrink-0"></div>
                    <div class="ml-4">
                        <div class="text-4xl font-bold text-gray-900">{{ plugin.name }}</div>
                        <div class="text-sm text-gray-700">
                            {% if plugin.author %}
                                <a href="/author/{{ plugin.author.username }}"
                                   class="hover:text-blue-800">by {{ plugin.author.name }}</a>
                                <span> | </span>
                            {% endif %}
                            <span>v{{ plugin.version }}</span>
                        </div>
                        <div class="text-base text-gray-800 mt-2">
                            {{ plugin.description | markdown | strip }}
                        </div>
                        <div class="flex space-x-2 mt-2">
                            <div class="w-6 h-6 badge-android"></div>
                            <div class="w-6 h-6 badge-ios"></div>
                            <div class="w-6 h-6 badge-webpack"></div>
                            <div class="w-6 h-6 badge-demos"></div>
                            <div class="w-6 h-6 badge-license"></div>
                            <div class="w-6 h-6 badge-version"></div>
                            <div class="w-6 h-6 badge-typings"></div>
                            <div class="w-6 h-6 badge-angular"></div>
                            <div class="w-6 h-6 badge-vue"></div>
                            <div class="w-6 h-6 badge-ci"></div>
                            <div class="w-6 h-6 badge-popular"></div>
                        </div>
                        {# {{ plugin | json }} #}
                    </div>
                </div>
                <div>
                    <div class="border border-blue-500 text-blue-500 font-mono rounded px-4 py-2">
                        npm i --save {{ plugin.name }}
                    </div>
                    <ul class="mt-4">
                        <li>Version: {{ plugin.version }}</li>
                        <li>
                            GitHub:
                            <a target="_blank"
                               rel="noopener"
                               class="text-blue-700 truncate"
                               href="{{ plugin.links.repository }}">
                                {{ plugin.links.repository }}
                            </a>
                        </li>
                        <li>
                            NPM:
                            <a target="_blank"
                               rel="noopener"
                               class="text-blue-700 truncate"
                               href="{{ plugin.links.npm }}">
                                {{ plugin.links.npm }}
                            </a>
                        </li>

                        <li class="mt-2">Downloads:</li>
                        <ul class="pl-2 font-mono tracking-tighter">
                            <li>Last Day:&nbsp;&nbsp;&nbsp;{{ plugin.downloadStats.lastDay }}</li>
                            <li>Last Week:&nbsp;&nbsp;{{ plugin.downloadStats.lastWeek }}</li>
                            <li>Last Month:&nbsp;{{ plugin.downloadStats.lastMonth }}</li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container mx-auto">
        <div class="max-w-full mt-10 markdown-body">
            {{ pluginData[plugin.name].readme | safe }}
        </div>
{#        <pre class="mt-4 ">{{ plugin | json }}</pre>#}
    </div>
</article>

